{
  "extends": ["eslint:recommended","@grafana/eslint-config"],
  "env": { "browser": true, "jest": true },
  "plugins": ["import"],
  "rules": {
    "no-extra-boolean-cast":"off",
    "no-unused-vars": "off",
    "import/order": "off"
  }
}
