__debug_bin
.data/
.env
.pnpm-debug.log*
.turbo/
*.log
*.pid
*.pid.lock
*.seed
artifacts/
ci/
coverage/
dist/
e2e-results/
logs
mage_output_file.go
node_modules/
npm-debug.log*
pids
provisioning/
temp_test.go
website/.cache/
website/.next/
website/.contentlayer/
website/node_modules/
website/out/
website/next-env.d.ts
work/
yarn-debug.log*
yarn-error.log*
docker/blocks/tempo/tempo-data
# IDE
.idea
.eslintcache

# playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
