__debug_bin
.data/
.env
.pnpm-debug.log*
.turbo/
*.log
*.pid
*.pid.lock
*.seed
**/cypress/report.json
**/cypress/screenshots
**/cypress/videos
artifacts/
ci/
coverage/
dist/
e2e-results/
logs
mage_output_file.go
node_modules/
npm-debug.log*
pids
provisioning/
temp_test.go
website/.cache/
website/node_modules/
website/public/
work/
yarn-debug.log*
yarn-error.log*