version: '3.7'
x-logging: &default-logging
  driver: loki
  options:
    loki-url: 'http://localhost:3100/api/prom/push'
services:
  microsocks:
    container_name: microsocks
    image: vimagick/microsocks@sha256:7b61de9b46c40672ca7b2a95f45abf023926d9e1dfd7ecfe95d21a82506227c4
    ports:
      - 1080:1080
  prometheus:
    container_name: prometheus
    image: prom/prometheus@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702
    command:
      - --web.enable-remote-write-receiver
      - --enable-feature=native-histograms
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./docker/blocks/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
  node-exporter:
    container_name: node_exporter
    image: prom/node-exporter@sha256:3ac34ce007accad95afed72149e0d2b927b7e42fd1c866149b945b84737c62c3
    ports:
      - "9100:9100"
  loki:
    image: grafana/loki:main@sha256:ae0d78305c9c06512dfdee24b518eee82716269707c5e02ce62462c415a2f0c2
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./docker/blocks/loki/config.yaml:/etc/loki/loki-config.yaml
    ports:
      - "3100:3100"
  tempo:
    image: grafana/tempo:latest@sha256:e4a11b12ba577ef63e24f92d04691716dac6c875b9bc519e0e4c3aca3688aa97
    depends_on:
      - loki
    command:
      - --config.file=/etc/tempo.yaml
    volumes:
      - ./docker/blocks/tempo/config.yaml:/etc/tempo.yaml
    ports:
      - "14268:14268"   # jaeger ingest
      - "3200:3200"     # tempo
      - "4317:4317"     # otlp grpc
      - "4318:4318"     # otlp http
  grafana:
    container_name: yesoreyeram-infinity-datasource
    logging: *default-logging
    image: grafana/grafana-enterprise:${GF_VERSION:-main}
    # image: grafana/grafana-enterprise:${GF_VERSION:-latest}
    # image: grafana/grafana-enterprise:${GF_VERSION:-9.4.3}
    # image: grafana/grafana-enterprise:${GF_VERSION:-8.4.7}
    depends_on:
      - microsocks
      - loki
      - tempo
    ports:
      - '3000:3000'
    volumes:
      - ./provisioning/dashboards-actual/:/dashboards/
      - ./provisioning:/etc/grafana/provisioning
      - ./dist/:/var/lib/grafana/plugins/yesoreyeram-infinity-datasource
    environment:
      - TERM=linux
      - GF_DEFAULT_APP_MODE=development
      - GF_LOG_LEVEL=debug
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_SECURITY_ANGULAR_SUPPORT_ENABLED=false
      - GF_SECURITY_CSRF_ALWAYS_CHECK=true
      - GF_ENTERPRISE_LICENSE_TEXT=$GF_ENTERPRISE_LICENSE_TEXT
      - GF_FEATURE_TOGGLES_ENABLE=publicDashboards topnav dataConnectionsConsole newPanelChromeUI emptyDashboardPage correlations nestedFolders advancedDataSourcePicker secureSocksDSProxyEnabled
      - GF_PLUGIN_YESOREYERAM_INFINITY_DATASOURCE_TRACING=true
      - GF_TRACING_OPENTELEMETRY_OTLP_ADDRESS=tempo:4317
      - GF_TRACING_OPENTELEMETRY_OTLP_PROPAGATION=w3c,jaeger
      - GF_INSTANCE_OTLP_ADDRESS=tempo:4317
      - GF_INSTANCE_OTLP_PROPAGATION=w3c,jaeger
      - GF_SECURE_SOCKS_DATASOURCE_PROXY_ENABLED=true
      - GF_SECURE_SOCKS_DATASOURCE_PROXY_PROXY_ADDRESS=microsocks:1080
      - GF_SECURE_SOCKS_DATASOURCE_PROXY_ALLOW_INSECURE=true
