/* offcanvas */
html,
body {
  overflow-x: hidden; 
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  body {padding-top: 46px;}
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.blog-post img {
  width: 100%;
  max-width: 800px;
}

img[src*='#center'] {
  display: block;
  margin: auto;
}

/* subheader */

#topnav .nav-link:hover {
    background: linear-gradient(268deg, #FADE2A, #F05A28);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 600% 600%;
    -webkit-animation: SubHeader 4s ease infinite;
    -moz-animation: SubHeader 4s ease infinite;
    animation: SubHeader 4s ease infinite;
}

@-webkit-keyframes SubHeader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes SubHeader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes SubHeader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.feature-card:hover {
  -webkit-animation: SubHeader 40s ease infinite;
  -moz-animation: SubHeader 40s ease infinite;
  animation: SubHeader 40s ease infinite;
}

#subnav .nav-link:hover {
  color: #f6f1c5;
}
code {
  background: rgb(240, 240, 240);
}