$gray1: hsl(0 0% 99%);
$gray2: hsl(0 0% 97.3%);
$gray3: hsl(0 0% 95.1%);
$gray4: hsl(0 0% 93%);
$gray11: hsl(0 0% 43.5%);
$gray12: hsl(0 0% 9%);
$cyanA2: hsl(185 99.9% 42.3% / 0.051);
$cyanA3: hsl(186 97.8% 42.2% / 0.095);
$cyanA8: hsl(189 99.9% 37.6% / 0.761);
$cyanA9: hsl(190 100% 37.8% / 0.98);
$cyanA10: hsl(191 99.9% 34.6% / 0.969);
$cyanA11: hsl(192 100% 27.6% / 0.953);

html,
html.dark-theme {
  body {
    background: $cyanA2 !important;
    color: $gray4 !important;
    #topnav {
      background-color: $gray12;
      color: $gray1;
      a {
        color: $gray2 !important;
      }
      #brand {
        color: white !important;
      }
      a:hover {
        color: $cyanA9 !important;
      }
    }
    #subnav {
      background-color: $gray12 !important;
      color: $gray2 !important;
      a {
        color: $gray2 !important;
      }
      a:hover {
        color: $cyanA9 !important;
      }
    }
    #subheader {
      background-color: $cyanA2 !important;
      color: $gray2 !important;
    }
    #prev-next-nav {
      background-color: $cyanA3;
      a {
        color: $gray1;
      }
    }
    #footer {
      h4,
      h4 a {
        color: $cyanA9 !important;
      }
      .footer-menu-item {
        a {
          color: $gray2 !important;
        }
      }
    }
    #features-section {
      .card {
        background-color: $cyanA11 !important;
        border: 1px solid white;
        a,
        a:active {
          color: $gray1 !important;
        }
      }
      .card:hover {
        background-color: $cyanA10 !important;
        border: 1px solid white;
      }
    }
    .mainbg {
      background: $gray12 !important;
      #banner-title {
        color: $cyanA9 !important;
      }
      h3.typewriter,
      h3.typewriter span {
        color: white !important;
      }
      p {
        color: $gray1;
      }
    }
    .blog-post {
      h2 {
        border-bottom-color: $cyanA9 !important;
      }
      blockquote {
        background-color: $gray12 !important;
      }
      img {
        filter: drop-shadow(0 0 0.1rem $cyanA9);
      }
    }
    .accordion {
      .accordion-button {
        background-color: $gray12;
        color: $gray1;
      }
      .accordion-button:not(.collapsed) {
        color: white;
        background-color: $gray11;
      }
      .accordion-body {
        background-color: $gray12 !important;
      }
    }
    .offcanvas-collapse.open {
      background-color: $gray12;
    }
    .navbar-toggler-icon {
      background-color: $cyanA9 !important;
    }
  }
}
html.light-theme {
  body {
    background: $gray3 !important;
    color: $gray12 !important;
    #topnav {
      background-color: $gray1;
      color: $gray12;
      #brand {
        color: $gray11 !important;
      }
      a {
        color: $gray11 !important;
      }
      a:hover {
        color: $cyanA9 !important;
      }
      .btn-primary,
      .btn-primary.a,
      .special-menu,
      .special-menu.a {
        background-color: #3d71d9 !important;
        color: white !important;
      }
    }
    #subnav {
      background-color: $gray2 !important;
      color: $gray11 !important;
      a {
        color: $gray11 !important;
      }
      a:hover {
        color: $cyanA9 !important;
      }
    }
    #subheader {
      background-color: $cyanA3 !important;
      color: $gray12 !important;
    }
    #prev-next-nav {
      background-color: $cyanA3;
      a {
        color: $gray12;
      }
    }
    #footer {
      h4,
      h4 a {
        color: $cyanA9 !important;
      }
      .footer-menu-item {
        a {
          color: $gray12 !important;
        }
      }
    }
    #features-section {
      .card {
        background-color: $gray3 !important;
        border: 1px solid gainsboro;
        a,
        a:active {
          color: $gray12 !important;
        }
      }
      .card:hover {
        background-color: $gray4 !important;
        border: 1px solid gainsboro;
      }
    }
    .mainbg {
      background: $gray3 !important;
      #banner-title {
        color: $cyanA9 !important;
      }
      h3.typewriter,
      h3.typewriter span {
        color: $gray11 !important;
      }
      p {
        color: $gray12;
      }
    }
    .blog-post {
      h2 {
        border-bottom-color: $cyanA9 !important;
      }
      blockquote {
        background-color: $gray12 !important;
      }
      img {
        filter: drop-shadow(0 0 0.1rem $cyanA9);
      }
    }
    .accordion {
      .accordion-button {
        background-color: $gray1;
        color: $gray12;
      }
      .accordion-button:not(.collapsed) {
        color: black;
        background-color: $gray4;
      }
      .accordion-body {
        background-color: $gray1 !important;
      }
    }
    .offcanvas-collapse.open {
      background-color: $gray1;
    }
    .navbar-toggler-icon {
      background-color: $cyanA9 !important;
    }
  }
}
