$gray1: #fcfcfc;
$gray2: #f8f8f8;
$gray3: #f3f3f3;
$gray4: #ededed;
$gray11: #6f6f6f;
$gray12: #171717;
$cyanA2: #00c6d80d;
$cyanA3: #02c0d518;
$cyanA8: #00a3c0c2;
$cyanA9: #00a1c1fa;
$cyanA10: #0090b0f7;
$cyanA11: #00718df3;

html {
  --brandBG: $cyanA2;
  --scrollbarBG: $gray2;
  --thumbBG: $gray11;
}

$BrandBG: var(--brandBG);

/* offcanvas */
html,
body {
  overflow-x: hidden;
}

body {
  padding-top: 50px;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
  &:hover {
    background-color: var(--brandBG);
  }
}
.small-screen-only {
  display: none;
}

@media (max-width: 991.98px) {
  body {
    padding-top: 46px;
  }
  .small-screen-only {
    display: inline;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 44px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.nav-underline .active {
  font-weight: 500;
}

.blog-post {
  h2 {
    display: inline-block;
    padding-bottom: 10px;
    margin: 20px 0px;
    border-bottom: 2px solid;
  }
  img {
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
  }
  table {
    width: 80%;
    max-width: 900px;
    border: 1px solid;
    margin: 20px auto;
    td,
    th {
      border: 1px solid;
      padding: 10px;
    }
  }
  blockquote {
    width: 80%;
    display: block;
    padding: 10px;
    border-left: 4px solid;
    p {
      padding: 0;
      margin: 0;
    }
  }
}

img[src*='#center'] {
  display: block;
  margin: auto;
}

/* subheader */
#topnav {
  #brand {
    text-decoration: none;
  }
  .nav-link:hover {
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 600% 600%;
  }
}
#banner-title {
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 600% 600%;
  color: transparent;
}

// Code highlight

.deckgo-highlight-code-carbon {
  display: block;
  width: 80%;
  max-width: 900px;
  margin: 10px auto;
}
#prev-next-nav {
  a {
    text-decoration: none;
  }
}
#footer {
  h4,
  h4 a {
    text-decoration: none;
  }
  .footer-menu-item {
    a,
    a:active,
    a:visited {
      text-decoration: none;
    }
  }
}

#topnav .special-menu {
  padding: 5px 8px;
  margin-inline-start: 5px;
  text-decoration: none;
}

.nav-item {
  button {
    margin: 0;
    padding: 0;
    border: none;
  }
}
.mainbg {
  position: relative;
  > div {
    position: relative;
    z-index: 2;
  }
}
.mainbg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
html.dark-theme {
  body {
    background: $cyanA2 !important;
    color: $gray4 !important;
    #topnav {
      background-color: $gray12;
      color: $gray1;
      a {
        color: $gray2 !important;
      }
      #brand {
        color: white !important;
      }
      .special-menu,
      a:hover {
        color: $cyanA9 !important;
      }
      .nav-item {
        button {
          background: transparent;
        }
      }
    }
    #subnav {
      background-color: $gray12 !important;
      color: $gray2 !important;
      a {
        color: $gray2 !important;
      }
      a:hover {
        color: $cyanA9 !important;
      }
    }
    #subheader {
      background-color: $cyanA2 !important;
      color: $gray2 !important;
    }
    #prev-next-nav {
      background-color: $cyanA3;
      a {
        color: $gray1;
      }
    }
    #footer {
      h4,
      h4 a {
        color: $cyanA9 !important;
      }
      .footer-menu-item {
        a {
          color: $gray2 !important;
        }
      }
    }
    #features-section {
      .card {
        background-color: $cyanA11 !important;
        border: 1px solid white;
        a,
        a:active {
          color: $gray1 !important;
        }
      }
      .card:hover {
        background-color: $cyanA10 !important;
        border: 1px solid white;
      }
    }
    .mainbg {
      background: $gray12 !important;
      #banner-title {
        color: $gray1 !important;
      }
      h3.typewriter,
      h3.typewriter span {
        color: white !important;
      }
      p {
        color: $gray1;
      }
      .btn-primary,
      .btn-primary.a,
      .special-menu,
      .special-menu.a {
        background-color: $cyanA9 !important;
        color: white !important;
        border: none;
      }
      &::before {
        // image credit : https://unsplash.com/photos/wofDw8uqX6I
        background-image: url(https://images.unsplash.com/photo-1456394555490-ef1bf0aedc46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
      }
    }
    .blog-post {
      h2 {
        border-bottom-color: $cyanA9 !important;
      }
      blockquote {
        background-color: $gray12 !important;
      }
      img {
        filter: drop-shadow(0 0 0.1rem $cyanA9);
      }
      .link {
        text-decoration: none;
        color: white !important;
      }
    }
    .accordion {
      .accordion-button {
        background-color: $gray12;
        color: $gray1;
      }
      .accordion-button:not(.collapsed) {
        color: white;
        background-color: $gray11;
      }
      .accordion-body {
        background-color: $gray12 !important;
      }
    }
    .offcanvas-collapse.open {
      background-color: $gray12;
    }
    .navbar-toggler-icon {
      background-color: $cyanA9 !important;
    }
  }
}
html.light-theme {
  body {
    background: $gray3 !important;
    color: $gray12 !important;
    #topnav {
      background-color: $gray1;
      color: $gray12;
      #brand {
        color: $gray11 !important;
      }
      a {
        color: $gray11 !important;
      }
      a:hover {
        color: $cyanA9 !important;
      }
      .btn-primary,
      .btn-primary.a,
      .special-menu,
      .special-menu.a {
        background-color: $cyanA9 !important;
        color: white !important;
      }
    }
    #subnav {
      background-color: $gray2 !important;
      color: $gray11 !important;
      a {
        color: $gray11 !important;
      }
      a:hover {
        color: $cyanA9 !important;
      }
    }
    #subheader {
      background-color: $cyanA3 !important;
      color: $gray12 !important;
    }
    #prev-next-nav {
      background-color: $cyanA3;
      a {
        color: $gray12;
      }
    }
    #footer {
      h4,
      h4 a {
        color: $cyanA9 !important;
      }
      .footer-menu-item {
        a {
          color: $gray12 !important;
        }
      }
    }
    #features-section {
      .card {
        background-color: $gray3 !important;
        border: 1px solid gainsboro;
        a,
        a:active {
          color: $gray12 !important;
        }
      }
      .card:hover {
        background-color: $gray4 !important;
        border: 1px solid gainsboro;
      }
    }
    .mainbg {
      background: $gray3 !important;
      #banner-title {
        color: $gray12 !important;
      }
      h3.typewriter,
      h3.typewriter span {
        color: $gray11 !important;
      }
      p {
        color: $gray12;
      }
      &::before {
        // image credit : https://unsplash.com/photos/qK39tusA9uE
        background-image: url(https://images.unsplash.com/photo-1633415565491-7f17373f2e7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
        filter: grayscale(0.2) blur(10px);
      }
    }
    .blog-post {
      h2 {
        border-bottom-color: $cyanA9 !important;
      }
      blockquote,
      blockquote p {
        background-color: whitesmoke !important;
        color: black !important;
      }
      img {
        filter: drop-shadow(0 0 0.1rem $cyanA9);
      }
      .link {
        text-decoration: none;
        color: black !important;
      }
    }
    .accordion {
      .accordion-button {
        background-color: $gray1;
        color: $gray12;
      }
      .accordion-button:not(.collapsed) {
        color: black;
        background-color: $gray4;
      }
      .accordion-body {
        background-color: $gray1 !important;
      }
    }
    .offcanvas-collapse.open {
      background-color: $gray1;
    }
    .navbar-toggler-icon {
      background-color: $cyanA9 !important;
    }
  }
}
