@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-post {
  line-height: 2rem;
  h2 {
    @apply text-3xl text-teal-500 my-4;
  }
  h3 {
    @apply text-2xl text-teal-500 my-4;
  }
  img[src*='#center'] {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 900px;
    margin: 10px auto;
    @apply my-4 rounded rounded-lg border-teal-900 border-2 hover:border-teal-200;
  }
  table {
    width: 80%;
    max-width: 900px;
    border: 1px solid;
    margin: 20px auto;
    th {
      border: 1px solid;
    }
    td {
      border: 1px solid;
      @apply px-2 py-1;
    }
  }
  blockquote {
    @apply my-4 border-l-2 border-dotted px-8 bg-slate-900 py-2;
  }
  code {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    @apply text-teal-100 bg-slate-900 p-1;
  }
  ul {
    margin-left: 20px;
    margin-block: 10px;
    li {
      list-style: disc;
      padding: 5px;
    }
  }
  .deckgo-highlight-code-carbon {
    display: block;
    width: 80%;
    max-width: 900px;
    margin: 10px auto;
    @apply my-8 text-lg;
  }
}
.home {
  background: linear-gradient(100deg, rgba(0, 75, 4, 0.24) 3.65%, rgba(0, 136, 91, 0) 40.32%), linear-gradient(200deg, rgba(21, 209, 131, 0.16) 0%, rgba(25, 209, 117, 0) 36.63%),
    linear-gradient(100deg, rgba(19, 255, 184, 0) 29.79%, rgba(19, 255, 165, 0.01) 85.72%), rgba(52, 71, 54, 0.06);
}
