name: Build & Publish
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: NodeJS Setup
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: Cache yarn cache
      uses: actions/cache@v2
      id: cache-yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Cache node_modules
      id: cache-node-modules
      uses: actions/cache@v2
      with:
        path: node_modules
        key: ${{ runner.os }}-${{ matrix.node-version }}-nodemodules-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.node-version }}-nodemodules-
    - name: Install dependencies
      run: yarn install --frozen-lockfile;
      if: |
        steps.cache-yarn-cache.outputs.cache-hit != 'true' ||
        steps.cache-node-modules.outputs.cache-hit != 'true'
    - name: Test
      run: |
        yarn test;
    - name: Build
      run: |
        yarn build;
        echo $(date) > dist/LAST_UPDATED;
    - name: Build Docs
      run: |
        rm -rf docs/;
        yarn docs:build;
        echo $(date) > docs/LAST_UPDATED;
        ls -lh docs/wiki;
        rm -rf docs/dist;
    - name: Publish Docs
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: docs update
        push_options: --force
        file_pattern: docs;